<!--     FAQ section -->
<div class="section" id="questions">
  <h2>Questions</h2>

  <ul class="questionsContainer">

    <li class="questionsItem">
      <div class="questionText" id="first">
        How do I do this?
      </div>

      <div class="answerText" id="first">
        It's easy, just talk to your speclialist, ask for their advice, tell them what you need, fill space with text.
      </div>
    </li>

    <li class="questionsItem">
      <div class="questionText" id="second">
        How do I do this?
      </div>

      <div class="answerText" id="second">
        It's easy, just talk to your speclialist, ask for their advice, tell them what you need, fill space with text.
      </div>
    </li>

    <li class="questionsItem">
      <div class="questionText" id="third">
        How do I do this?
      </div>

      <div class="answerText" id="third">
        It's easy, just talk to your speclialist, ask for their advice, tell them what you need, fill space with text.
      </div>
    </li>

    <li class="questionsItem">
      <div class="questionText" id="fourth">
        How do I do this?
      </div>

      <div class="answerText" id="fourth">
        It's easy, just talk to your speclialist, ask for their advice, tell them what you need, fill space with text.
      </div>
    </li>

  </ul>

</div>