<footer>

  <div class="footer-line">
  </div>

  <div class="footer-logo">
    <div><img src="http://files.artsy.net/images/artsy-logo-square-black.svg" style="height:20px">
    </div>
    <div class="copyright">© 2017 Artsy</div>
  </div>

  <div class="social">
    <div><a href="https://twitter.com/artsy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div><a href="https://www.facebook.com/artsy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div><a href="https://www.snapchat.com/add/artsy.net"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
    </div>
    <div><a href="https://www.instagram.com/artsy/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>

</footer>