<!--     Header Bar section -->
<div class="headerBar">
  <div id="primerLogo">
    <img class="primerLogoWhite" src="http://files.artsy.net/images/artsy_primer_logo_white.svg" style="height:50px;">
    <img class="primerLogoBlack" src="https://artsy-vanity-files-production.s3.amazonaws.com/images/artsy_primer_logo_black.svg" style="height:50px;">
  </div>
  <div class="headerBarNavWrapper">
    <ul class="headerBarNav" id="topNav">
      <li><a href="#why">Why Primer?</a>
      </li>
      <li><a href="#how">How it Works</a>
      </li>
      <li><a href="#testimonials">Testimonials</i></a>
      </li>
      <li><a href="#questions">Questions</a>
      </li>
      <li><a href="https://www.artsy.net/about">About Artsy</a>
      </li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">☰</a>
      </li>
    </ul>
    <div class="headerBarButton">
      <a href="#signup">Sign Up</a>
    </div>
  </div>
</div>
