<!--     How It Works section -->
<div class="section" id="how">
  <h2>How it works</h2>

  <ul class="howContainer">
    <li class="howItem">
      <div class="howIcons" id="discoverIcon">
        <img src="http://files.artsy.net/images/discoverIcon.svg" style="height:90px">
      </div>

      <div class="howHeader" id="discover">
        <h4>Discover</h4>
      </div>

      <div class="howDescription" id="discoverDescription">
        Regardless of your art experience, proprietary Art Genome data and dedicated Artsy Specialist will guide you to art that resonate with you.
      </div>
    </li>

    <li class="howItem">
      <div class="howIcons" id="connectIcon">
        <img src="http://files.artsy.net/images/connectIcon.svg" style="height:90px">
      </div>

      <div class="howHeader" id="connect">
        <h4>Connect</h4>
      </div>

      <div class="howDescription" id="connectDescription">
        Get an insider playbook to buying at galleries, fairs and auctions paired with access to experienced Artsy Specialists.
      </div>
    </li>

    <li class="howItem">
      <div class="howIcons" id="participateIcon">
        <img src="http://files.artsy.net/images/participateIcon.svg" style="height:90px">
      </div>

      <div class="howHeader" id="participate">
        <h4>Participate</h4>
      </div>

      <div class="howDescription" id="participateDescription">
        Get alerted to nearby shows and events that have work most relevant to your taste. Enjoy VIP access to select events.
      </div>
    </li>
  </ul>
</div>