<!--     Main Screen section -->
<div class="landingScreen">
  <div class="landingScreenInner">
    <div id="landingCopy">
      Buy artwork with expert guidance from a dedicated Artsy Specialist.
    </div>
    <div id="landingSubCopy">
      A six week program starting March 6th
    </div>
    <a href='#signup' id="landingCTA">
      Sign Up
    </a>
  </div>
</div>