<!--     User Testimonials section -->
<div class="section" id="testimonials">
  <div class="twosieLayout">
    <img
      class="twosieLayoutImg"
      src="http://files.artsy.net/images/artsy_collector_2_forweb.jpg"
    >
    <div class="twosieLayoutText">
      <h2>
        Artsy helped me out big time. My walls used to be sad and now they're glad.
        <br>
        <br>
        <i>- Sammy, Artsy Collector</i>
      </h2>
    </div>
  </div>
</div>