<!--     Why Primer section -->
<div class="section" id="why">
  <h2>Why Primer?</h2>
  <div class="twosieLayout">
    <img class="twosieLayoutImg" src="http://files.artsy.net/images/primer_specialists.jpg" />
    <div class="twosieLayoutText">
      <h3>Collecting art is a pleasure<br>Buying the right piece is confusing</h3>
      <p>Primer helps you become an informed art collector quickly and on your schedule. Primer pairs you with a dedicated Artsy Specialist for six-weeks of guided support through your first art acquisition. All for $550.</p>
    </div>
  </div>
</div>